flows.json
[{"id":"75302319.df7a7c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3f9120c3.c4e57","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"807e19fb.f6a9f8","type":"tab","label":"Control Unit","disabled":false,"info":""},{"id":"6ee64cf5.445914","type":"tab","label":"Splash Screen","disabled":false,"info":""},{"id":"a7b18cc2.3776f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"434c2566.54f83c","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#0c5ba3","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0c5ba3","value":"#0c5ba3","edited":true},"page-titlebar-backgroundColor":{"value":"#0c5ba3","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#1183ea","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#3a3a3a","edited":true},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#0c5ba3","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Lucida Sans Unicode,Lucida Grande,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":50,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":3,"py":4}}},{"id":"d33b4859.c8ede8","type":"ui_group","z":"","name":"TEMPRATURE","tab":"9cb5049e.459498","order":3,"disp":true,"width":"7","collapse":false},{"id":"9cb5049e.459498","type":"ui_tab","z":"","name":"SOILDATA","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"fa4711f2.c705e","type":"ui_group","z":"","name":"MOTOR CONTROL","tab":"","order":2,"disp":true,"width":"11","collapse":false},{"id":"8e3810f6.9edf9","type":"ui_link","z":"","name":"Simulator","link":"https://watson-iot-sensor-simulator.mybluemix.net/","icon":"open_in_browser","target":"iframe","order":3},{"id":"3ca2c587.8893ea","type":"ui_group","z":"","name":"weather data","tab":"9cb5049e.459498","order":1,"disp":true,"width":"7","collapse":false},{"id":"80d00c23.fc72b","type":"ui_spacer","name":"spacer","group":"","order":1,"width":9,"height":1},{"id":"88b13b0f.4ad618","type":"ui_tab","z":"","name":"DOCUMENTATION","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"499bc67d.7b9698","type":"ui_group","z":"","name":"Details of Simulator","tab":"88b13b0f.4ad618","order":1,"disp":true,"width":6,"collapse":false},{"id":"5b1826e2.085108","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7911e81a.23f678","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"4a8c9f7a.5bd75","type":"ui_group","z":"","name":"HUMIDITY","tab":"9cb5049e.459498","order":4,"disp":true,"width":"7","collapse":false},{"id":"1f06304c.688e","type":"ui_group","z":"","name":"SOIL MOISTURE","tab":"9cb5049e.459498","order":5,"disp":true,"width":"7","collapse":false},{"id":"38c8a18a.ffd14e","type":"ui_group","z":"","name":"CLOD DATA","tab":"9cb5049e.459498","order":2,"disp":true,"width":"7","collapse":false},{"id":"eff0ce9f.f34d8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"115ozv.messaging.internetofthings.ibmcloud.com/","cleansession":true,"appId":"","shared":false},{"id":"58555470.5f148c","type":"ui_group","z":"","name":"Motor Control","tab":"a1d81bd1.bb7478","order":1,"disp":true,"width":9,"collapse":false},{"id":"1123cd4d.faf523","type":"ui_group","z":"","name":"","tab":"a1d81bd1.bb7478","order":4,"disp":false,"width":4,"collapse":false},{"id":"a1d81bd1.bb7478","type":"ui_tab","z":"","name":"Control Unit","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d48c31b3.f934a","type":"ui_spacer","name":"spacer","group":"fa4711f2.c705e","order":2,"width":11,"height":1},{"id":"5bf3d25c.c8ad1c","type":"ui_group","z":"","name":"Press \"Enter\" To Continue","tab":"","order":1,"disp":true,"width":"5","collapse":false},{"id":"1bee02ae.cbb9dd","type":"ui_text","z":"75302319.df7a7c","group":"499bc67d.7b9698","order":1,"width":0,"height":0,"name":"","label":"Organization id ","format":"i809np","layout":"row-spread","x":440,"y":100,"wires":[]},{"id":"b7a17eec.26ac9","type":"ui_text","z":"75302319.df7a7c","group":"499bc67d.7b9698","order":2,"width":0,"height":0,"name":"","label":"Token","format":"123456780","layout":"row-spread","x":450,"y":240,"wires":[]},{"id":"4cbc9765.14e698","type":"ui_text","z":"75302319.df7a7c","group":"499bc67d.7b9698","order":3,"width":0,"height":0,"name":"","label":"Device Type","format":"tempsensor","layout":"row-spread","x":450,"y":320,"wires":[]},{"id":"b853c98c.96cab8","type":"ui_text","z":"75302319.df7a7c","group":"499bc67d.7b9698","order":4,"width":0,"height":0,"name":"","label":"Device id","format":"smartagriculture","layout":"row-spread","x":440,"y":180,"wires":[]},{"id":"5756b2df.ed80ac","type":"ibmiot in","z":"3f9120c3.c4e57","authentication":"apiKey","apiKey":"a7b18cc2.3776f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"smartagriculture","applicationId":"","deviceType":"tempsensor","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":160,"wires":[["76ca344e.7bcc5c","108d6063.135ee","2460a8a5.aa0588","a8a51b9f.ab69b8"]]},{"id":"76ca344e.7bcc5c","type":"debug","z":"3f9120c3.c4e57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":140,"wires":[]},{"id":"108d6063.135ee","type":"function","z":"3f9120c3.c4e57","name":"temp_soil","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":60,"wires":[["76ca344e.7bcc5c","5866f47c.eabfec"]]},{"id":"5866f47c.eabfec","type":"ui_gauge","z":"3f9120c3.c4e57","name":"","group":"d33b4859.c8ede8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"DC","format":"{{value}}","min":0,"max":"100 ","colors":["#00009b","#7b7bff","#0080ff"],"seg1":"","seg2":"","x":910,"y":60,"wires":[],"icon":"font-awesome/fa-unlock"},{"id":"2e6154cd.e7680c","type":"http request","z":"3f9120c3.c4e57","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Orai,IN&appid=6ed3fc7c91a70ac2823d82d94329d0c1","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":300,"wires":[["76ca344e.7bcc5c","3eee38e.09a5fc8","371c77ac.bcf088"]]},{"id":"2460a8a5.aa0588","type":"function","z":"3f9120c3.c4e57","name":"humidity","func":"msg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["76ca344e.7bcc5c","e108e3d6.312c8"]]},{"id":"e108e3d6.312c8","type":"ui_gauge","z":"3f9120c3.c4e57","name":"","group":"4a8c9f7a.5bd75","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"ah","format":"{{value}}","min":0,"max":"100","colors":["#454aa9","#9393ff","#66b3ff"],"seg1":"","seg2":"","x":900,"y":240,"wires":[]},{"id":"3eee38e.09a5fc8","type":"function","z":"3f9120c3.c4e57","name":"WEATHER API","func":"msg.payload = msg.payload.clouds.dt;\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":540,"wires":[["cbb2cfc6.1a435"]]},{"id":"371c77ac.bcf088","type":"function","z":"3f9120c3.c4e57","name":"WEATHER API","func":"msg.payload = msg.payload.main.temp_max;\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":440,"wires":[["501358ca.7399d8"]]},{"id":"501358ca.7399d8","type":"ui_gauge","z":"3f9120c3.c4e57","name":"","group":"3ca2c587.8893ea","order":1,"width":0,"height":0,"gtype":"gage","title":"Real temp","label":"dc","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":480,"wires":[]},{"id":"a8a51b9f.ab69b8","type":"function","z":"3f9120c3.c4e57","name":"soil","func":"msg.payload = msg.payload.d.objectTemp;\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["dc148449.696248","76ca344e.7bcc5c"]]},{"id":"dc148449.696248","type":"ui_gauge","z":"3f9120c3.c4e57","name":"","group":"1f06304c.688e","order":1,"width":0,"height":0,"gtype":"donut","title":"soil","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#0000ac","#8080ff","#0080ff"],"seg1":"","seg2":"","x":890,"y":340,"wires":[]},{"id":"cab08585.9e94e8","type":"inject","z":"3f9120c3.c4e57","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":220,"wires":[["2e6154cd.e7680c"]]},{"id":"cbb2cfc6.1a435","type":"ui_gauge","z":"3f9120c3.c4e57","name":"","group":"38c8a18a.ffd14e","order":1,"width":0,"height":0,"gtype":"wave","title":"Cloud","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":560,"wires":[]},{"id":"3998bcc8.62e944","type":"ibmiot out","z":"807e19fb.f6a9f8","authentication":"apiKey","apiKey":"eff0ce9f.f34d8","outputType":"cmd","deviceId":"Smart_Agriculture_System","deviceType":"NodeMCU","eventCommandType":"button","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":140,"wires":[]},{"id":"1553ee81.420b31","type":"ui_toast","z":"807e19fb.f6a9f8","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Motor is ON","name":"ON Dialog","x":630,"y":200,"wires":[[]],"inputLabels":["JSON"]},{"id":"7916deac.421e3","type":"ui_switch","z":"807e19fb.f6a9f8","name":"","label":"Motor Switch","tooltip":"","group":"58555470.5f148c","order":2,"width":9,"height":3,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"motoron\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"command\":\"motoroff\"}","offvalueType":"json","officon":"","offcolor":"","x":210,"y":140,"wires":[["3998bcc8.62e944","5a4e778a.a2c828","a3db0bb.0a947f8"]]},{"id":"e7a66d17.df2f9","type":"ui_toast","z":"807e19fb.f6a9f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Motot is OFF","name":"OFF Dialog","x":630,"y":260,"wires":[[]],"inputLabels":["JSON"]},{"id":"5a4e778a.a2c828","type":"switch","z":"807e19fb.f6a9f8","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"motoron","vt":"str"},{"t":"eq","v":"motoroff","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":220,"wires":[["1553ee81.420b31"],["e7a66d17.df2f9"]]},{"id":"400375fc.965f8c","type":"ui_button","z":"807e19fb.f6a9f8","name":"","group":"1123cd4d.faf523","order":1,"width":4,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"tab\":\"Home\"}","payloadType":"json","topic":"","x":310,"y":560,"wires":[["1b828a04.8387f6"]]},{"id":"1b828a04.8387f6","type":"ui_ui_control","z":"807e19fb.f6a9f8","name":"To Home","events":"all","x":540,"y":560,"wires":[[]]},{"id":"4cb5782f.1c9ea8","type":"function","z":"807e19fb.f6a9f8","name":"Global Variable Declaration","func":"global.set(\"Current\",number);\nglobal.set(\"Temp\",number);\nglobal.set(\"Status\",Boolean)","outputs":1,"noerr":0,"x":460,"y":60,"wires":[[]]},{"id":"a3db0bb.0a947f8","type":"function","z":"807e19fb.f6a9f8","name":"Time","func":"let difference = 0;\nvar day = new Date();\nif (msg.payload.command == \"motoron\") \n{\n    msg.payload = \"00:00:00\";\n    global.set(\"Current\",day.getTime())\n    global.set(\"Temp\",0)\n    global.set(\"Status\",true)\n}\nelse\nif (msg.payload.command == \"motoroff\")\n{\n    global.set(\"Status\",false)\n    difference = day.getTime() - global.get(\"Current\");\n    {\n        var milliseconds = parseInt((difference%1000)/100)\n        , seconds = parseInt((difference/1000)%60)\n        , minutes = parseInt((difference/(1000*60))%60)\n        , hours = parseInt((difference/(1000*60*60))%24);\n\n    hours = (hours < 10) ? \"0\" + hours : hours;\n    minutes = (minutes < 10) ? \"0\" + minutes : minutes;\n    seconds = (seconds < 10) ? \"0\" + seconds : seconds;\n\n    msg.payload =  hours + \":\" + minutes + \":\" + seconds;\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["a47f3944.5e4f78"]]},{"id":"730f2a6b.9c7444","type":"ui_text","z":"807e19fb.f6a9f8","group":"58555470.5f148c","order":1,"width":0,"height":0,"name":"","label":"Time","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":420,"wires":[]},{"id":"37e47e9e.75cd12","type":"function","z":"807e19fb.f6a9f8","name":"Counter Function","func":"var time = global.get(\"Temp\");\nvar status = global.get(\"Status\");\nif(status == true){\ntime = time+1000;\nglobal.set(\"Temp\",time);\n}\n    var milliseconds = parseInt((time%1000)/100)\n        , seconds = parseInt((time/1000)%60)\n        , minutes = parseInt((time/(1000*60))%60)\n        , hours = parseInt((time/(1000*60*60))%24);\n\n    hours = (hours < 10) ? \"0\" + hours : hours;\n    minutes = (minutes < 10) ? \"0\" + minutes : minutes;\n    seconds = (seconds < 10) ? \"0\" + seconds : seconds;\n\n    msg.payload =  hours + \":\" + minutes + \":\" + seconds;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["730f2a6b.9c7444"]]},{"id":"8e1b8396.53ceb","type":"inject","z":"807e19fb.f6a9f8","name":"Counter","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["37e47e9e.75cd12"]]},{"id":"f54973.14dbf69","type":"ui_button","z":"807e19fb.f6a9f8","name":"","group":"1123cd4d.faf523","order":2,"width":4,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":480,"wires":[["1efb1d21.0c2643"]]},{"id":"1efb1d21.0c2643","type":"function","z":"807e19fb.f6a9f8","name":"Reset Function","func":"var status = global.get(\"Status\");\nif(status == false){\n    global.set(\"Temp\",0);\n}","outputs":1,"noerr":0,"x":520,"y":480,"wires":[[]]},{"id":"4b9848ad.fa2b28","type":"ui_template","z":"807e19fb.f6a9f8","group":"58555470.5f148c","name":"Splash Screen","order":2,"width":"0","height":"0","format":"\n<style>\n    body {\n        background-image: url(\"https://i.gifer.com/3Tfa.gif\");\n        background-position: center;\n        background-position: circle;\n        background-repeat: no-repeat;\n        background-size:cover;\n        \n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":160,"wires":[[]]},{"id":"cc0df910.c3f118","type":"ui_template","z":"3f9120c3.c4e57","group":"3ca2c587.8893ea","name":"Splash Screen","order":2,"width":0,"height":0,"format":"\n<style>\n    body {\n        background-image: url(\"https://i.pinimg.com/originals/d5/69/12/d56912e297cf3a797d5d5c728a23fda9.gif\");\n        background-position: center;\n        background-repeat: no-repeat;\n        background-size:cover;\n        \n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":260,"y":480,"wires":[[]]},{"id":"ebb8c3e0.70c31","type":"delay","z":"3f9120c3.c4e57","name":"Shrey Gupta","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":420,"wires":[[]]},{"id":"a47f3944.5e4f78","type":"debug","z":"807e19fb.f6a9f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":340,"wires":[]}]